.left{
    float:left;
    display: block;
}
.right{
    float:right;
    display: block;
}
.left, .right{
    width: 40%;
}
.right .postDay{
    right:calc(125% - 9px);
}
.left .postDay{
    left:calc(125% - 9px);
}
.right .postTop:after{
    border-right-style: solid;
    border-right-width: 25px; 
    right: 100%;
}
.right .postTop{
    text-align: right;
    padding-right:10px;
}
.left .postTop:after{
    border-left-style: solid;
    border-left-width: 25px;
    left: 100%;
}
.left .postTop{
    text-align: left;
    padding-left: 10px;
}
.post{
    width: 100%;
}
.postDay > span{
    display: none;
    background: #76647d;
    padding: 5px;
    top:30px;
    position: absolute;
    right: calc(-50% - 8px);
    font-family:UbuntuMono-R;
    font-weight: bold;
    color:#373759;
    font-size: 17px;
    line-height: 17px;
    border-top: 2px solid #373759;
}
.postDay > span:after{
    content:'';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    bottom:100%;
    left:0;
    right:0;
    margin: auto;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #76647d;
}
.postDay > span:before{
    content:'';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    bottom:100%;
    left:0;
    right:0;
    margin: auto;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #373759;
}
.postContent{
    width: 100%;
    font-family: UbuntuMono-R;
    line-height: 15px;
    font-size:15px;
}
#title{
    margin-bottom: 20px; 
}
#logo{
    display: block;
    margin: auto;
    width: 50px;
    margin-top: 20px; 
}
.postEditorOptions > ul > li{
    position: relative;
}
#menu > ul > li div{
    display: block;
    width: 0;
    overflow: hidden;
    height: 0;
    
    padding: 0;
    margin: 0;
}
#menu > ul > li:hover  div:before{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: #76647d;
    position: absolute;
    content:'';
    display: block;
    top:0;
    left:-25px;
    z-index: -1;
}
#menu > ul > li span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width:170px;
    color: #373759;
}
#menu > ul > li:hover  div{
    overflow: visible;
    font-family:UbuntuMono-R;
    font-weight:bold; 
    height: auto;
    position: absolute;
    display: block;
    width: 200px;
    max-width: 100vw;
    right: 50%;
    background: #76647d;
    top:0;
    bottom:0;
    margin: auto;
    font-size:15px;
    padding-top: calc(50% - 7.5px); 
    z-index: -1;
    animation-name: menuDesc;
    animation-duration: 2s;
}
.divisor{
    height: calc(100% - 20px);
}