.middle{
    display: block;
    width: calc(100% - 20px);
    margin: auto;
    margin-top:50px;
}
.divisor{
    position: absolute;
    width:10%;
    left: auto;
    right: 0;
    height: 100%;
    z-index: -1;
    display: none;
}
#title{
    text-align: left;
    padding-left: 10px;
}
.yearTime{
    display: none;
}
.postTop{
    padding-left: 10px;
}
.day{
    display: none;
}
.postDay{
    width: 100%;
}
.postDay > span{
    display: block;
    width: 50px;
    right:10px;
    text-align: center;
    top:0;
    background: none;
    border: 0;
    padding: 0;
    color:#797b8c;
    font-family:UbuntuMono-R;
    font-weight: bold;
    position: absolute;
    color:#373759;
}
.postTop:after{
    display: none;
}