.middle{
    display: block;
    width: calc(90% - 10px);
    margin-top:50px;
    margin-left:10px;
}
.post{
    width: 100%;
}
.divisor{
    position: absolute;
    width:10%;
    left: auto;
    right: 0;
    height: 100%;
    z-index: -1;
    display: none;
}
.year{
    position: relative;
}
#title{
    position: absolute;
    left: 10px;
}
.yearTime{
    display: none;
}
.postTop{
    padding-left: 10px;
}
.postTop:after{
    top:0;
    content:'';
    display: block;
    position: absolute;
    width:0px;
    height: 0px;
    border-bottom: 23px solid transparent;
    border-top:23px solid transparent;
    border-left-style: solid;
    border-left-width: 25px;
    left: 100%;
}
.day{
    display: none;
}
.postDay{
    width: 100%;
}
.postDay > span{
    display: block;
    width: 50px;
    right:10px;
    text-align: center;
    top:0;
    background: none;
    border: 0;
    padding: 0;
    color:#797b8c;
}
.postDay > span:before, .postDay > span:after{
    display: none;
}
.postTop.green:after{
    display: none;
}
.postTop.pink:after{
    display: none;
}
.postTop.purple:after{
    display: none;
}
.postTop.blue:after{
    display: none;
}
