@keyframes postEditIcon {
    0% {transform: rotate(0deg) scale(1.2)}
    25% {transform: rotate(5deg) scale(1.2)}
    50%{transform: rotate(0deg) scale(1.2)}
    75%{transform: rotate(-5deg) scale(1.2)}
    100% {transform: rotate(0deg) scale(1.2)}
}
@keyframes postEditorPulse {
    0% {transform: rotate(0deg) }
    25% {transform: rotate(1deg)}
    50%{transform: rotate(0deg) }
    75%{transform: rotate(-1deg)}
    100% {transform: rotate(0deg)}
}
@keyframes postEditorAnim {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes menuDesc{
    0%{
        width: 0px;
    }
    50%{
        width: 0px;
    }
    100%{
        width: 200px;
    }
}