#login{
    width: 100%;
    max-width: 450px;
    margin: 0px auto 10px auto;
    overflow: hidden;
    position: relative;
}
#loginTop{
    height: 40px;
}
#login:hover #signupArea{
    z-index: 3;
}
#signin, #signup{
    background: #76647d;
    line-height: 40px;
    font-size: 20px;
    width: calc(25% - 5px);
    display: block;
    height: calc(100% - 10px);
    float: left;
    color: #373759;
    font-family: UbuntuMono-R;
    cursor: pointer;
}
#signup{
    padding: 5px 0px 5px 5px;
    text-align: left;
    transition: all 0.2s;
}
#signin{
    padding: 5px 5px 5px 0px;
    text-align: right;
    transition: all 0.2s;
}
#signin.selectedTopArea, #signup.selectedTopArea{
    background: #797b8c !important;
    width: calc(75% - 5px) !important;
    font-weight: bold;
    font-size: 30px !important;
    cursor: default;
}
#signupArea{
    float: left;
    width: 50%;
    background: white;
}
#signupArea:after, #signinArea::after{
    content:'';
    display: block;
    background: linear-gradient(to left,#47a1de 25%, #f46f9d 25%, #f46f9d 50%, #7de380 50%, #7de380 75%, #a288d2 75%);
    height: 7px;
    margin-top: 25px;
    width: 100%;
}
#signinArea{
    float: left;
    background: white;
    width: 50%;
    padding-top: 20px;
}
#loginArea{
    position: relative;
    width: 200%;
    left: 0;
    transition: left 0.2s;
}
#userImage{
    width: 120px;
    height: 120px;
    margin: 15px auto 15px auto; 
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center bottom; 
}
#login.maleColor #userImage{
    border: 2px solid #47a1de;
    background-image: url('../img/perfilDefaultImage.png');
}
#login.femaleColor #userImage{
    border: 2px solid #f46f9d;  
    background-image: url('../img/perfilDefaultImageF.png');
}
.inputLogin{
    width: calc(100% - 60px);
    display: block;
    margin: 5px auto 5px auto;
    padding: 10px 0px 10px 5px;
    border:2px solid #47a1de;
    font-size: 20px;
    font-family: UbuntuMono-R;
    font-weight: bold;
    color:#47a1de;
}
#login.maleColor .inputLogin{
    border:2px solid #47a1de;
    color:#47a1de;
}
#login.femaleColor .inputLogin{
    border:2px solid #f46f9d;
    color:#f46f9d;
}
.inputLogin:focus{
    outline: none;
}
.toggleInput{
    margin:5px 0px 5px 26px; 
    overflow: auto;
    font-family: UbuntuMono-R;
    font-weight: bold;
    font-size: 20px;
}
#login.maleColor .toggleInput{
    color:#47a1de;
}
#login.femaleColor .toggleInput{
    color:#f46f9d;
}
.inputOption{
    float: left;
    padding: 5px 7px 5px 7px;
    transition: all 0.5s;
    cursor: pointer;
}
#login.maleColor .inputOption{
    border: 2px solid #47a1de;
}
#login.femaleColor .inputOption{
    border: 2px solid #f46f9d;
}
.inputOption.optionSelected{
    color:white;
    cursor: default;
}
#login.maleColor .inputOption.optionSelected{
    background: #47a1de;
}
#login.femaleColor .inputOption.optionSelected{
    background: #f46f9d;
}
.loginOption{
    display: block;
    padding:10px;
    margin-left:26px;
    border-radius: 5px;
    font-family:UbuntuMono-R;
    color:#373759;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
    height: 20px;
    overflow: visible;
    margin-top:10px;
    display: inline-block;
}
#login.maleColor .loginOption{
    background: #47a1de;
}
#login.femaleColor .loginOption{
    background: #f46f9d;
}
.loginOption:hover>img{
    transform:scale(1.2);
    animation-delay: 2s;
    animation-name: postEditIcon;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
}
#title{
    margin-bottom: 20px; 
}
#logo{
    display: block;
    margin: auto;
    width: 50px;
    margin-top: 20px; 
}
.loginOption>img{
    margin: 0;
    padding: 0;
    height: 20px;
    vertical-align: middle;
    transition: all 0.1s;
    padding-right:10px;
}