body{
    margin: 0;
    padding: 0;
    background: #373759;
}
#center{
    width:100%;
    max-width: 960px;
    margin: auto;
    margin-bottom:20px;
    position: relative;
    overflow: auto;
}
.left{
    display: none;
}
.right{
    display: none;
}
.middle{
    display: none;
}
.post{
    background: white;
    margin-bottom:10px; 
}
.postDay{
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 12.5px;
}
.day{
    width: 100%;
    height: 100%;
    background:#76647d;
    transform:rotate(45deg) scale(1);
    transition: all .2s ease-in-out;
}
.day:hover{
    cursor: pointer;
    background: #797b8c;
    transform: rotate(45deg) scale(1.1);
}
.day:hover + span{
    display: block;
}
.postTop:hover .postDay > span{
    display: block;
}
.postDay>span:hover{    
    display: block;
    cursor: pointer;
}
.postTop{
    padding: 8px 0 8px 0;
    position: relative;
}
.postTop > h1{
    padding:0;
    margin:0;
    color:#373759;
    font-size: 30px;
    font-family: UbuntuMono-R;
    line-height: 30px;
}
.postTop:after{
    top:0;
    content:'';
    display: block;
    position: absolute;
    width:0px;
    height: 0px;
    border-bottom: 23px solid transparent;
    border-top:23px solid transparent;
}
.postBody{
    padding: 15px 10px 10px 10px;
    overflow: auto;
}
.postContent{
    width: 90%;
    font-family: UbuntuMono-R;
    line-height: 15px;
    font-size:15px;
}
.divisor{
    position: absolute;
    width:20%;
    left: 40%;
    height: 100%;
    z-index: -1;
}
.divisor:after{
    content:'';
    display: block;
    width:0;
    border-left:3px solid #76647d;
    border-right:3px solid #76647d;
    margin:auto;
    height:calc(100% - 10px);
    background: #76647d;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}
.divisor:before{
    content:'';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    background: #76647d;
    top:calc(100% - 6px);
    left:0;
    right:0;
    border-radius: 100%;
    margin: auto;
}
#title{
    font-size: 30px;
    color:#76647d;
    font-weight: bold;
    font-family: UbuntuMono-R;
    text-transform: capitalize;
    text-align:center;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
    cursor: default;
}
.year{
    overflow: auto;
}
.yearTime{
    display: block;
    width: 70px;
    height: 45px;
    border-radius: 100%;
    background: #76647d;
    left:0;
    right:0;
    margin: auto;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    padding-top: 25px;
    font-weight: bold;
    font-family: UbuntuMono-R;
    color: #373759;
    transition: all 0.5s;
}
.yearTime:hover{    
    cursor: pointer;
    background: #797b8c;
}
#menu{
    position: fixed;
    right:0;
    bottom:10px;
    z-index: 2;
}
#menu > ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    position: relative;
    width: 50px;
}
#menu > ul > li{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #76647d;
    display: block;
    position: absolute;
    bottom:0;
    cursor: pointer;
    box-shadow: 0 0 5px 0.001px #2C2C4D;
    transition: box-shadow 0.5s;
}
#menu > ul > li:hover{
    box-shadow: none;
}
#menu > ul > li:active{
    background: linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.1)
    ), #76647d;
}
#menu > ul >li:last-child{
    background: #986666;
}
#menu > ul >li >img{
    width: 60%;
    margin: auto;
    display: block;
    padding-top: 20%;
}
.postEditor{
    animation: postEditorAnim 1s, postEditorPulse 0.05s 1s 3;
}
.postEditor > .postTop > h1{
    outline: 0;
}
.postEditor > .postTop > h1[contenteditable=true]:empty::before{
    content:'Title...';
    opacity: 0.4;
}
.postEditor .postContent{
    outline: 0;
}
.postEditor .postContent[contenteditable=true]:empty:before{
    content:'Escreva...';
    opacity: 0.4;
}
.postEditorOptions{
    margin-left:10px;
    padding-bottom: 10px;
}
.postEditorOptions > ul{
    margin:0;
    padding: 0;
    list-style: none;
    display: block;
    overflow: auto;
}
.postEditorOptions > ul > li{
    float: left;
    display: block;
    padding:10px;
    margin-right:10px;
    border-radius: 5px;
    font-family:UbuntuMono-R;
    color:#373759;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
    height: 20px;
    overflow: visible;
    margin-top:10px;
}
.postEditorOptions > ul > li:hover >img{
    transform:scale(1.2);
    animation-delay: 2s;
    animation-name: postEditIcon;
    animation-duration: 0.1s;
    animation-iteration-count: infinite;
}
.postEditorOptions > ul > li > img{
    margin: 0;
    padding: 0;
    height: 20px;
    vertical-align: middle;
    transition: all 0.1s;
    padding-right:10px;
}
#postPile{
    display: none;
}
#morePosts{
    font-family: UbuntuMono-R;
    color: #76647d;
    font-weight: bold;
    font-size: 20px;
    margin:auto;
    position: absolute;
    bottom:0;
    text-align: center;
    left:0;
    right: 0;
    margin: auto;
}
#morePosts:hover{
    color:#797b8c;
    cursor: pointer;
}