<div class="post postEditor">
    <div class="postTop purple">
        <div class="postDay"> 
            <div class="day"></div>
            <span>12/09</span>
        </div>
        <h1 contenteditable="true"></h1>
    </div>
    <div class="postBody">
        <div class="postContent" contenteditable="true"></div>
    </div>
    <div class="postEditorOptions">
        <ul>
            <li>
                <img src="img/send.png"/>
                <span> Postar</span>
            </li>
                <li>
                    <img src="img/cancel.png"/>
                    <span> Cancelar</span>
            </li>
            
        </ul>
    </div>
</div>